a {
  text-decoration: none !important;
  transition: 0.3s;
}
ul {
  padding: 0 !important;
  margin: 0 !important;
}
li {
  list-style: none;
  transition: 0.3s;
}
h4 {
  color: #111;
  font-size: 18px !important;
  font-weight: 700;
}
p {
  color: #111;
}
